

.topnav {
    width: 95vw;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.topnav p, .topnav img {
    flex:  1;
        font-family: 'Fira Sans', sans-serif;
        font-size: 20px;
        text-align: left;
       
        color: #333333;

  }
  
  .arrows {
    text-align:  right;
  }


.topnav img {
    padding: 20px;
}



.innerwindow {
    height: 90vh;
    width: 95vw;
    box-shadow: 0 4px 8px 0 rgba(95, 95, 95, 0.12), 0 6px 20px 0 rgba(95, 95, 95, 0.1);
    overflow: scroll;
    position: fixed;
    top: 64px;
    left: 50%;
    transform: translate(-50%, 0%);
    
}