.innerWindow {
    background-color: #fcf9ec;
  }
  
  section.drawing-area {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
  }