body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.25;

    background-color: #ffffff;
    color: #111118;

    margin: 50px auto 100px auto;
    width: 900px;
}

header {
    margin: 0 0 40px 0;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: 32px;
}



section.slideshow {
    width: 1000px;
    height: 750px;
    cursor: pointer;
    position: relative;
}

section.slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 750px;
    z-index: 0;
}

section.slideshow img:first-child {
    z-index: 1;
}